@using ControlScheduleKSTU.DomainCore.Resourses
 @if (Request.IsAuthenticated)
        {
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>*@
                <li>@Html.ActionLink(@Resources.MonitoringSchedule, "Index", "ScheduleRealizations")</li>
            </ul>
   }