@using System.Web.UI.WebControls
@model IEnumerable<ControlScheduleKSTU.DomainCore.ModelsView.ScheduleRealizationView>


<h2>@ViewBag.title</h2>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <p>Занятие по счету: @ViewBag.Currentschedule</p>
        Текущее время: <b id="txt"></b>

        <script type="text/javascript">
            function startTime() {
                var tm = new Date();
                var h = tm.getHours();
                var m = tm.getMinutes();
                var s = tm.getSeconds();
                m = checkTime(m);
                s = checkTime(s);
                document.getElementById('txt').innerHTML = h + ":" + m + ":" + s;
                t = setTimeout('startTime()', 1000);
            }
            function checkTime(i) {
                if (i < 10) {
                    i = "0" + i;
                }
                return i;
            }
            startTime();
        </script>


    </div>
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auditorium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ScheduleId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ActualAuditorium)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ActualTeacher)
            </th>*@


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Auditorium)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ScheduleId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ActualAuditorium)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ActualTeacher)
                </td>*@


            </tr>
        }

    </table>
</div>
